@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<header> 
    <h1> Meu Primeiro Site com ASP.NET</h1>
    <h2> Catalógo - Animes e Series </h2>
    <p> Registrando o último episódio assistido</p>
    <hr>
</header>

<body>
    <form method="post">
        <div>
            <label for="Titulo"> Nome do Anime/Série: </label>
            <input type="text" id="Titulo" name="Titulo" required />
        </div>
        
        <div>
            <label for="UltimoEpisodio"> Nº do Episódio: </label>
            <input type="number" id="UltimoEpisodio" name="UltimoEpisodio" required />
        </div>

        <div>
            <label for="UrlImagem"> Imagem de Capa: </label>
            <input type="text" id="UrlImagem" name="UrlImagem" required />
        </div>

        <button type="submit">Salvar no Banco</button>
    </form>   
</body>
