@page
@model IndexModel

<h1> Minha Primeira Pagina em C#</h1>

<form method="post">
    <input class="form-control" type="text" name="nome">
    <br>
    <button class="btn btn-primary" type="submit"> Enviar </button>
</form>

@if (Model.Nome != null)
{
    <h1> Olá, @Model.Nome </h1>
}
